<div class="contaner">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
        <h2>XEM LỊCH HỌC</h2><br><br>
    </div>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
        <div class="row col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-left: 100px;">
            <form class="form-horizontal"  action="/sinhvien/xemlh"  >
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <div class="form-group">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Năm học:</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select class="form-control" id="namhochtml" name="namhoc" >
                                <option value="2021-2022" >2021-2022</option>
                                <option value="2022-2023" >2022-2023</option>
                                <option value="2023-2024"  >2023-2024</option>
                                <option value="2024-2025"  >2024-2025</option>
                            </select>
                            <br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>